# Objectives


### Data Analysis with Python

* **Hands-on working on a data file with Pandas**
  * Creating a Dataframe object and saving/exporting DataFrames
  * Exploring a Dataframe (columns, datatypes, shape etc)
  * Dataframe and Series slicing and indexing
  * Querying Dataframes
  * Running statistics on Dataframes
  * Grouping and aggregating Dataframes

* **Future Topics**<br><br>

* **Helpful hints & resources**

# Our Data
We will be using files from the [Portal Project Teaching Database](https://figshare.com/articles/Portal_Project_Teaching_Database/1314459). This section will use the **'surveys.csv'** file, stored as a **'.csv'** and can be downloaded here: https://ndownloader.figshare.com/files/2292172<br>
We are studying the species and weight of animals caught in sites in our study area.<br>
Each row holds information for a single animal, and the columns represent:

| **Column**      | **Description**               |
|:----------------|:------------------------------|
| record_id       | Unique id for the observation |
| month           | month of observation          |
| day             | day of observation            |
| year            | year of observation           |
| plot_id         | ID of a particular site       |
| species_id      | 2-letter code for a species   |
| sex             | sex of animal (“M”, “F”)      |
| hindfoot_length | length of the hindfoot in mm  |
| weight          | weight of the animal in grams |

# What is a Python Dataframe?
* 2-dimensional data structure that can store data of different types (including characters, integers, floating point values, factors and more) in a tabular form. Each row holds information for each column.
* Similar to a spreadsheet or an SQL table or the **'data.frame'** in R. 
* Dataframes have indexes starting from 0. 
* An index refers to the position of an element in the data structure.

# What is a Python Series?
* A series is a one-dimensional structure like an associative array. 
* Series have indexes starting from 0.
* An index refers to the position of a value in the data structure.

|index | value     |
|------|-----------|
| 0    | -84.5099  |
| 1    | -84.48937 |
| 2    | -84.4432  |


# Pandas in Python (Python Data Analysis Library)
* **Python Data Analysis Library** shortened as **pandas** is a third-party package for data manipulation
* The **pandas** package is one of the best options for working with tabular data in Python
* **pandas** ingest data as Dataframe objects and works with both Dataframes and Series
* **pandas** uses sequential indexes by default
* **pandas** provides data structures, produces high quality plots with **matplotlib** (a Python package graphing) and integrates nicely with other libraries that use **NumPy** (a Python package for arrays processing).
* Operations on **numpy** arrays also work on **pandas** Series 

**Importing Pandas**

In [2]:
import pandas as pd

In [3]:
## Run this cell if you're on Colab to download the 'data' file
!wget https://raw.githubusercontent.com/CEASLIBRARY/Data_Analysis_with_Python/master/data/surveys.csv

48.42s - pydevd: Sending message related to process being replaced timed-out after 5 seconds

zsh:1: command not found: wget

### Reading CSV Data Using Pandas - *pd.read_csv( )* function
The pandas **'read_csv'** function pulls import from **'.csv'** files into a Dataframe objects

*Syntax*:<br>
**dataframe_object = pd.read_csv( file_path_name )**

*Usage*:

In [4]:
surveys_df = pd.read_csv("surveys.csv")
surveys_df

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN
...,...,...,...,...,...,...,...,...,...
35544,35545,12,31,2002,15,AH,NaN,NaN,NaN
35545,35546,12,31,2002,15,AH,NaN,NaN,NaN
35546,35547,12,31,2002,10,RM,F,15.0,14.0
35547,35548,12,31,2002,7,DO,M,36.0,51.0
35548,35549,12,31,2002,5,NaN,NaN,NaN,NaN

The first column is the **'0-based' index** of the DataFrame. It is not an actual column of the DataFrame but used to identify the position of the data.

### Dataframe *head( )* and *tail( )* methods
The **'head( )'** method displays the first several lines of a dataframe object.
The **'tail( )'** method displays the last several lines of a dataframe object.

*Syntax*:<br>
**data_frame_object_name.head ( [ row_count_limit ] )**<br>
**data_frame_object_name.tail ( [ row_count_limit ] )**

**# row_count_limit is optional. Default is 5**


*Usage*:

In [ ]:
surveys_df.head()

In [ ]:
surveys_df.tail(10)

### Writing out Data from Dataframe to CSV using *to_csv( )* method
The **'to_csv'** pandas DataFrame method is used to export a DataFrame in CSV format

*Syntax*:<br>
**data_frame_object_name.to_csv ( csv_file_path_name , [ index ] , [ sep ] , [ na_rep ] , [ mode ] )**

*Note*:
* **csv_file_path_name** is the file path. If **None** is provided the result is returned as a string. Default is **None**
* **index** is boolean value for Write row index/names. Default is **True**. Set this to **False** so that pandas doesn’t include the index number for each line.
* **sep** is a string of length 1 for field delimiter for the output file. Default is **' , '**
* **na_rep** is a string for missing data representation. Default is **' '**
* **mode** is a string for the Python write mode. Default is **'w'**

*Usage*:

In [ ]:
surveys_df_head = pd.read_csv("surveys.csv").head(30)
surveys_df_head.to_csv('surveys_head.csv', index=False)

**<h5><center>Note</center></h5>**

**' to_excel '** pandas DataFrame method is used to export a DataFrame to an **Excel .xlsx** file

### Dataframe '*dtypes*' data attribute
Shows the the data types of the values in the columns.

*Syntax*:<br>
**data_frame_object_name.dtypes**

*Usage*:

In [ ]:
surveys_df.dtypes

### Dataframe '*columns*' data attribute
Shows an index list of all the column names in the DataFrame.

*Syntax*:<br>
**data_frame_object_name.columns**

*Usage*:

In [ ]:
surveys_df.columns

In [ ]:
surveys_df.columns[0:4]

### Dataframe '*shape*' data attribute
Outputs a tuple of the row by column count of the DataFrame.

*Syntax*:<br>
**data_frame_object_name.shape**

*Usage*:

In [ ]:
surveys_df.shape

### Selecting data using Column Names
* DataFrame objects are treated like dictionaries using column heads as keys
* We use square brackets **[ ]** to select column data and for indexing<br>

*Syntax*:<br>
**data_frame_object_name [ 'column_name' ]**

*Usage*:

In [ ]:
surveys_df['record_id']

* You may selct more than one column at a time by making a list of the column names<br>

*Syntax*:<br>
**data_frame_object_name [ [ 'column_name_1' , 'column_name_2' ] ]**

*Usage*:

In [ ]:
surveys_df[['month', 'day']]

* You may select a column data also by using the column name as an 'attribute'<br>

*Syntax*:<br>
**data_frame_object_name.column_name**

*Usage*:

In [ ]:
surveys_df.record_id

### Selecting Unique values from a column 
#### Using pandas *'unique'* function
The **pandas.unique()** function tells us all of the unique values in a column

*Syntax*:<br>
**pd.unique ( data_frame_object_name [ 'column_name' ] )**<br>
or<br>
**pd.unique ( data_frame_object_name.column_name )**

*Usage*:

In [ ]:
pd.unique(surveys_df['species_id'])

In [ ]:
pd.unique(surveys_df.species_id)

#### Using pandas Data series *'unique( )'* method
Pandas Data series objects have a **unique( )** method for the same purpose of selecting the unique values in a column

*Syntax*:<br>
**data_series_object_name.unique ( )**<br>
or<br>
**data_frame_object_name [ 'column_name' ].unique ( )**<br>

In [ ]:
surveys_df['species_id'].unique()

### Extracting data Subsets by Indexing and Slicing
#### Slicing and subsetting rows

In [ ]:
surveys_df[0:5]

In [ ]:
surveys_df[3:7]

In [ ]:
surveys_df[5:]

In [ ]:
surveys_df[:5]

In [ ]:
surveys_df[-1:]

In [ ]:
surveys_df[-3:]

In [ ]:
surveys_df[-3:-1]

#### Selecting and slicing data from columns

In [ ]:
surveys_df['record_id']

In [ ]:
surveys_df['record_id'][0]

In [ ]:
surveys_df.record_id[0]

In [ ]:
surveys_df['record_id'][0:4]

In [ ]:
surveys_df[['record_id','plot_id']][0:5]

#### Slicing Subsets of Rows and Columns
We can select a specific row and a column value (a specific data element) or ranges of the data in both the row and column directions using either the **'iloc'** data attribute with integer-based indexing or the **'loc'** data attribute with integers for rows and the column labels.


##### iloc 
* Integer based indexing in the row and column directions
* Indexing follows the same **0-based** indexing and slicing concepts used earlier

*Syntax*:<br>
**# for a specific data element**

**data_frame_object_name.iloc [ row_index, column_index ]**

**# Remember that Python indexing begins at 0. So, the index location [2, 6] selects the element that is 3 rows down and 7 columns of the DataFrame.**

*Usage*:

In [ ]:
surveys_df.iloc[2, 6]

In [ ]:
surveys_df.head(5)

*Syntax*:<br>
**# for a range of data element**

**data_frame_object_name.iloc [ starting_row_index : ending_row_index + 1 , starting_column_index : ending_column_index + 1 ]**

**# Remember that in Python slicing, ending indices are not included in selection. So, the index location [1:4, 0:5] selects the  element in row 2 to 4 (index 1 to 3) and in columns 1 to 5 (index 0 to 4) of the DataFrame.**

*Usage*:

In [ ]:
surveys_df.iloc[1:4, 0:5]

In [ ]:
surveys_df.iloc[3:5, 5:8]

In [ ]:
surveys_df.iloc[3:5, :]

In [ ]:
surveys_df.iloc[:, 5:8].head()

*Syntax*:<br>
**# selection by specifying a list of row indexes and list of column indexes**

**data_frame_object_name.iloc [ [ list of row indexes ] , [ list of column indexes ] ]**

*Usage*:

In [ ]:
surveys_df.iloc[[2,5,23,1], [8,5,6,7]]

In [ ]:
surveys_df.iloc[[2,5,23], :]

In [ ]:
surveys_df.iloc[[2,5,23], 5:8]

##### loc 
* Label based indexing.
* Rows use Integer labels. When integers are used, they are interpreted as a label and not indexes.
* Columns use a list of strings of the column names.
* Indexing follows the same **0-based** indexing and slicing concepts used earlier

NB: The integer row labels in **'loc'** are different from the integer indexes in **'iloc'**. With loc, both the start bound and the stop bound are inclusive.

*Syntax*:<br>
**# selection by specifying a list of integer row labels and list of column names**

**data_frame_object_name.loc [ [list of row indexes ] , [list of column names ] ]**

**# selection by specifying starting and ending integer row label and list of column names**

**data_frame_object_name.loc [ starting_integer_row label : ending_integer_row label , [list of column names ] ]**


*Usage*:

In [ ]:
surveys_df.loc[2:5,['species_id', 'plot_id', 'weight']]

In [ ]:
surveys_df.loc[[2,5,5,7],['species_id', 'plot_id', 'weight']]

In [ ]:
surveys_df.loc[2:5,:]

In [ ]:
surveys_df.loc[:,['species_id', 'plot_id', 'weight']].tail()

### Creating Queries on Dataframes
Similar to SQL and R, we can select a subset of our data using criteria

*Syntax*:<br>
**data_frame_object_name [ < condition > ]**<br>

**# Conditions must be based on columns names**

*Usage*:

In [ ]:
surveys_df[surveys_df['weight'] == 88]

In [ ]:
surveys_df[surveys_df.weight == 88]

In [ ]:
surveys_df[surveys_df.month == surveys_df.plot_id].head()

**<h5><center>Note</center></h5>**

1. **Remember the python Comparison Operators discussed in the Introduction to Python Programming workshop**
   * Equals: **==**
   * Not equals: **!=**
   * Greater than, less than: **>** or **<**
   * Greater than or equal to, Less than or equal to: **>=** or **<=**<br><br>
2. **Remember the python Logical Operators discussed in the Introduction to Python Programming workshop. This time we use the BITWISE versions**<br>
   * Logical AND ( **&** )<br>
     *Syntax*:<br> 
     *Note the parenthesis around each condition*<br>
     **data_frame_object_name [ ( < condition 1 > ) & ( < condition 2 > ) ]**<br><br>
   * Logical OR ( **|** )<br>
     *Syntax*:<br> 
     *Note the parenthesis around each condition*<br>
     **data_frame_object_name [ ( < condition 1 > ) | ( < condition 2 > ) ]**<br><br>
   * Logical NOT ( **~** )<br>
     **Use the ' ~ ' symbol to return the OPPOSITE of the selection**<br>
     *Syntax*:<br>
     **data_frame_object_name [ ~ ( < condition > ) ]**<br><br>
   
4. You can use the **'isin'** method to query a DataFrame based upon a list of column value<br>
   
   *Syntax*:<br>
   **data_frame_object_name [ data_frame_object_name[ ' column_name ' ] . isin ( [ list of column values to search ] ) ]**<br>
   or<br>
   **data_frame_object_name [ data_frame_object_name . column_name . isin ( [ list of column values to search ] ) ]**

   *Usage*:

In [ ]:
surveys_df[(surveys_df.weight == 88) & (surveys_df.month == surveys_df.plot_id)]

In [ ]:
surveys_df[surveys_df['weight'].isin([88,0.5,1])]

In [ ]:
surveys_df[~(surveys_df.weight.isin([88,0.5,1]))]

# Exercise 1
#### Queries
Perform the following queries
1. Select a subset of rows in the surveys_df DataFrame that contain data from the year 1999 and weights less than or equal to 8.
   How many rows did you end up with? What did your neighbor get?
2. Display **record_id** and **plot_id** of data that contain data of the years 1999, 2000, 1977 and 1989.
3. Write query that selects all rows with sex equal to ‘M’ or ‘F’ in the data. Write two different queries that produce this same result.Write two different queries that do the same thing.

### Summary statistics methods
**Calculate basic statistics for all records in all columns, a group of columns or a single column in a dataframe**

In [ ]:
surveys_df.describe()

In [ ]:
surveys_df[['hindfoot_length','weight']].describe()

In [ ]:
surveys_df['record_id'].describe()

**Extract one specific metric**

**data_frame_object . min( )<br>
data_frame_object . max( )<br>
data_frame_object . mean( )<br>
data_frame_object . std( )<br>
data_frame_object . sum( )<br>
data_frame_object . count( )**

In [ ]:
surveys_df.min()

In [ ]:
surveys_df.mean()

In [ ]:
surveys_df[['hindfoot_length','weight']].min()

In [ ]:
surveys_df[['hindfoot_length','weight']].mean()

In [ ]:
surveys_df['record_id'].min()

In [ ]:
surveys_df['record_id'].mean()

### Group by
**To summarize by one or more column** 
1. Use the **groupby ( )** pandas dataframe method. This creates a group by object in memory
2. Use one on of the following summary statistics methods to get the grouped by data; **describe ( )**,**min ( )**,**max ( )**,**mean ( )**,**std ( )**,**count ( )**
3. Use the **agg( )** function to get different statistics on different columns in a group by object

In [11]:
a=surveys_df.groupby('sex')

In [7]:
a.describe()

    record_id                                                               \
        count          mean           std  min      25%      50%       75%
sex
F     15690.0  18036.412046  10423.089000  3.0  8917.50  18075.5  27250.00
M     17348.0  17754.835601  10132.203323  1.0  8969.75  17727.5  26454.25

                month            ... hindfoot_length         weight  \
         max    count      mean  ...             75%   max    count
sex                              ...
F    35547.0  15690.0  6.583047  ...            36.0  64.0  15303.0
M    35548.0  17348.0  6.392668  ...            36.0  58.0  16879.0


          mean        std  min   25%   50%   75%    max
sex
F    42.170555  36.847958  4.0  20.0  34.0  46.0  274.0
M    42.995379  36.184981  4.0  20.0  39.0  49.0  280.0

[2 rows x 56 columns]

In [ ]:
a.mean()

In [8]:
surveys_df[['sex','hindfoot_length','weight']].groupby('sex').describe()

    hindfoot_length                                                    \
              count       mean       std  min   25%   50%   75%   max
sex
F           14894.0  28.836780  9.463789  7.0  21.0  27.0  36.0  64.0
M           16476.0  29.709578  9.629246  2.0  21.0  34.0  36.0  58.0

      weight
       count       mean        std  min   25%   50%   75%    max
sex
F    15303.0  42.170555  36.847958  4.0  20.0  34.0  46.0  274.0
M    16879.0  42.995379  36.184981  4.0  20.0  39.0  49.0  280.0

In [10]:
surveys_df[['sex','species_id','hindfoot_length','weight']].groupby(['sex','species_id']).max()

                hindfoot_length  weight
sex species_id
F   BA                     16.0    18.0
    DM                     50.0    66.0
    DO                     64.0    76.0
    DS                     58.0   190.0
    NL                     38.0   274.0
    OL                     24.0    56.0
    OT                     50.0    46.0
    OX                     21.0    22.0
    PB                     36.0    54.0
    PE                     30.0    38.0
    PF                     38.0    24.0
    PH                     28.0    48.0
    PL                     22.0    27.0
    PM                     32.0    35.0
    PP                     41.0    74.0
    PX                     19.0    20.0
    RF                     20.0    20.0
    RM                     22.0    21.0
    RO                     16.0    13.0
    SF                     36.0   199.0
    SH                     33.0   140.0
    SO                     36.0   105.0
    SS                      NaN    57.0
M   AH                      NaN     NaN
    BA                     14.0     9.0
    DM                     48.0    62.0
    DO                     58.0    67.0
    DS                     57.0   170.0
    NL                     42.0   280.0
    OL                     39.0    48.0
    OT                     29.0    36.0
    OX                     21.0    24.0
    PB                     47.0    55.0
    PE                     26.0    40.0
    PF                     22.0    25.0
    PH                     28.0    42.0
    PI                     23.0    21.0
    PL                     22.0    23.0
    PM                     36.0    49.0
    PP                     27.0    42.0
    PX                     20.0    18.0
    RF                     19.0    15.0
    RM                     22.0    29.0
    RO                     17.0    11.0
    RX                     20.0    20.0
    SF                     38.0   100.0
    SH                     39.0   110.0
    SO                     28.0    86.0
    SS                      NaN   130.0

In [ ]:
surveys_df[['sex','species_id','hindfoot_length','weight']].groupby(['sex','species_id'])['hindfoot_length'].max()

In [ ]:
surveys_df[['sex','species_id','hindfoot_length','weight']].groupby(['sex','species_id'])['weight'].sum()

In [ ]:
surveys_df[['sex','species_id','hindfoot_length','weight']].groupby(['sex','species_id']).agg({'hindfoot_length':'max','weight':'sum'})

# Exercise 2
#### Data Workflows and Automation
1. Create a script/module called **'survey_years.py'** with the following
   * Import the **pandas** and **os** modules
   * Create a new folder called **'yearly_files'** using the **os.mkdir( ' data/yearly_files ' )** function
   * Create a first function called **generate_year_files** that imports **'surveys.csv'** into a dataframe and do the following<br>
     a) Read all the unique years<br>
     b) For each year between **1990** and **2000**, create new **CSV** files with data from only one particular year.<br> 
     c) The name of the new files should follow the format **'survey_year.csv'** example **'survey_1977.csv'**<br>
     **HINT**: Use the **for loop** and **if block**<br><br>
   * Create the second function called **display_year_file_names** which reads names of the files generated and print them out.<br>
     **HINTS**:<br> 
     Use the **os.listdir ( ' path/survey_\* ' )** function to get the list of all files<br>
     Use the **for loop** to loop through and print the file names<br><br>
2. Import the **'survey_years.py'** module into your current session and use the two functions to generate the files for the years and print the file names

In [9]:
surveys_df

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN
...,...,...,...,...,...,...,...,...,...
35544,35545,12,31,2002,15,AH,NaN,NaN,NaN
35545,35546,12,31,2002,15,AH,NaN,NaN,NaN
35546,35547,12,31,2002,10,RM,F,15.0,14.0
35547,35548,12,31,2002,7,DO,M,36.0,51.0
35548,35549,12,31,2002,5,NaN,NaN,NaN,NaN

# Bonus Exercise

* Grouping on each month, find the average hindfoot length
* Find the number of entries and average weight for each plot
* For every entry not during the summer (months June, July, August), find the largest hindfoot length

# Advanced and Future Topics
* Concatenation of dataFrames with the pandas concat function
* Left, Right, Inner and Outer joins with the pandas merge function
* Python for Data Visualization
* Error Handling and Exceptions
* List Comprehension
* Regular Expressions
* Database Access
* Multithreading

# Helpful Resources
* CEAS Library Python resources - http://guides.libraries.uc.edu/python
* Online links & tutorials
 * Data Carpentry - https://datacarpentry.org/python-ecology-lesson/
 * Python documentation - https://www.python.org/doc/
 * Python Programming wiki book - http://en.wikibooks.org/wiki/Python_Programming
 * Python tutorials - Udemy, Code academy, etc


$\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;$**Thank you for attending the workshop !!**


$\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;$**Your kind suggestions/feedbacks are more than welcome**